
ul {
    list-style-type: none;
}

#page {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 2.5fr;
}

#sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 3 / 2;
}

#main-content {
    background-color: brown;
    grid-area: 2 / 2 / 3 / 3;
}

#header {
    background-color: coral;

    grid-area: 1 / 2 / 2 / 3;
}
li, #dashboard {
    color: white;
}

#top-of-header {
    display: flex;
    justify-content: space-around;
}